<section class="row">
  <article class="column">
    <a href={"#{@room}"}>
    <button style="width: 100%; height: 5rem;"> Create a new Scrum <span style="font-size:200%"> 🃁 </span> </button> 
    </a>
  </article>
</section>
