<section>
  <article class="flex justify-center m-16">
    <a href={"#{@room}"}>
    <button class="text-black-100"> Create a new Scrum <span style="font-size:200%"> 🃁 </span> </button> 
    </a>
  </article>
</section>
