<section class="row">
  <article class="column">
    <a href={"#{@room}"}>
    <button class="text-zinc-100"> Create a new Scrum <span style="font-size:200%"> 🃁 </span> </button> 
    </a>
  </article>
</section>
